body {
    overflow-x: hidden;
}

a:link {
    color: #f3f3f3;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #f3f3f3;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #000000;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #00ffc4;
    background-color: transparent;
    text-decoration: underline;
}

.main {
    height: 100%;
    margin-left: 160px;
    padding: 0px 10px;
    background-color: #4E4E50;
    overflow-x: hidden;
    color: #f3f3f3;
}

.main .searchbar button {
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.main .searchbar input[type=search] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width: 300px;
}

.main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.cards{
    padding: 5px;
    background-color: #858585;
}

.card {
    padding: 5px;
    color: #1A1A1D;
    margin: 6px;
}

.card a {
    color: #1A1A1D;
}

.log_buttons {
    position: fixed;
    top: 5px;
    right: 5px;
    padding: 2px;
    background-color: #858585;
}

.log_buttons a {
    padding: 6px 8px 6px 8px;
    font-size: 20px;
    color: #f3f3f3;
    display: inline-grid;
}

.sidebar-wrapper {
    height: 100%;
    width: 160px;
    position: fixed;
    align-items: stretch;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1A1A1D;
    overflow-x: hidden;
    padding-top: 20px;
    color: #818181;
    border-right: white;
}

.sidebar-wrapper .sidebar-header{
    margin-left: 10px;
}

.sidebar-wrapper a {
    padding: 6px 0px 3px;
    text-align: start;
    font-size: 25px;
    color: #818181;
    display: block;
    width: border-box;
    margin-left: 4px;
}

.sidebar-wrapper a:hover {
    color: #ffffff;
}

.sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

.sidebar.active {
    margin-left: -250px;
}

a[data-bs-toggle="collapse"] {
    position: relative;
}

.dropdown-menu a:hover {
    color: #ffffff;
}

.dropdown-toggle::after {
    display: block;
    position: relative;
    left: 0px;
    transform: translateY(50%);
    color: #818181;
}

.show_info img {
    width: 30%;
    max-height: 600px;
    object-fit: contain;
}