
#search_results {
    width: 80%;
}

#show_results {
    padding: 5px;
    margin-right: 10px;
}

#user_results {
    padding: 5px;
    width: 50%;
}

#review_wrapper {
    margin: 0 auto;
    max-width: 35%;
    background-color: #858585;

}

.review_form {
    max-width: 50%;
    margin: 0px auto;
    overflow-x: hidden;
}

.review_form_input {
    margin: 0px auto;
    padding: 0.5rem;
}

#show_data {
    display: flex;
    justify-content: flex-start;
}

#show_img {
    margin-right: 10px;
}

#show_info {
    margin-right: 10px;
    margin-left: 10px;
    background-color: #858585;
    padding: 10px;
    position: relative;
    min-width: 10%;
}

#new_review_button {
    position: absolute;
    bottom: 0;
}

#like_button {
    position: absolute;
    bottom: 60;
}

#show_reviews {
    max-width: 60%;
    margin-left: 10px;
    background-color: #858585;
    padding: 10px;
}

#show_reviews .card {
    padding: 5px;
    color: #1A1A1D;
    margin: 6px;
    max-width: 15rem;
    min-width: 15rem;
    background-color: #bebcbc;
}

#show_reviews .card a {
    color: #1A1A1D;
}

a:link {
    color: #f3f3f3;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #f3f3f3;
    background-color: transparent;
    text-decoration: none;
}

.main a:hover {
    color: #ffffff;
    background-color: transparent;
    text-decoration: underline;
}

.main a:active {
    color: #818181;
    background-color: transparent;
    text-decoration: underline;
}

.searchbar {
    position: relative;
    display: block;
}

.searchbar button {
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.searchbar input[type=search] {
    padding: 6px 10px;
    position: relative;
    margin-top: 8px;
    font-size: 17px;
    width: 70%;
    border: none;
    background: #f3f3f3;
}

.main {
    height: 100%;
    margin-left: 160px;
    padding: 0px 10px;
    background-color: #4E4E50;
    overflow-x: hidden;
    color: #f3f3f3;
}

.main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.card-wrapper {
    display: inline-block;
    background-color: #858585;
    padding: 5px;
}

.card-wrapper a:hover {
    color: #858585;
}

.card-group {
    justify-content: flex-start;
!important;
}

.card-group .card {
    padding: 5px;
    color: #1A1A1D;
    margin: 6px;
    max-width: 20rem;
    min-width: 20rem;
}

.card a {
    color: #1A1A1D;
    text-decoration: none;
}

.card a:hover {
    color: white;
    background-color: #858585;
    text-decoration: none;
}

.genres a:hover {
    background-color: transparent;
    color: #515151;
}

.log_buttons {
    position: fixed;
    left: 5px;
    bottom: 20px;
    display: block;
    z-index: 1;
}

.sidebar-wrapper {
    height: 100%;
    width: 160px;
    position: fixed;
    align-items: stretch;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1A1A1D;
    overflow-x: hidden;
    padding-top: 20px;
    color: #818181;
}

.sidebar-wrapper .sidebar-header {
    margin-left: 10px;
}

.sidebar-wrapper a {
    padding: 6px 0px 3px;
    text-align: start;
    font-size: 25px;
    color: #818181;
    display: block;
    width: border-box;
    margin-left: 4px;
}

.sidebar-wrapper a:hover {
    color: #ffffff;
}

.sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

a[data-bs-toggle="collapse"] {
    position: relative;
}

.dropdown-menu a {
    color: #a4a4a4;
}

.dropdown-menu a:hover {
    color: #ffffff;
}

.dropdown-toggle::after {
    display: block;
    position: relative;
    left: 0px;
    transform: translateY(50%);
    color: #818181;
}

#genre_list {
    position: relative;
    left: 10px;
}

#show_request {
    margin-top: 15px;
}