{% extends 'TVShowApp/base.html' %}
{% load static %}

{% block title_block %}
Review {{ show.title }}
{% endblock %}

{% block header_block %}

{% endblock %}


{% block body_block %}
<div id="review_wrapper">
    <div class="review_form">
        <h3>Review:</h3>
        <h3><strong>{{show.title}}</strong></h3>
        <img src="/media/{{show.photo}}" alt="No picture available" width="300" height="420">
    </div>
    <div class="review_form">
        <form method="post" action="{% url 'TVShowApp:new_rating' show.id %}">
            {% csrf_token %}
            {% for field in form.visible_fields %}
            <div class="review_form_input">
            {% if field.field.widget.input_type == 'range' %}
            <label for="{{ field.id_for_label }}">Rating:
                <output id="rating_out" name="rating_out">1</output>
            </label>
            <input type="range" id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="form-range" min="1"
                   max="10" value="0" oninput="rating_out.value = this.value">
            {% else %}
            <label>{{field.label}}</label>
            {{ field }}
            {% endif %}
            </div>
            {% endfor %}
            <div class="review_form_input">
                <button type="submit" class="btn btn-primary mb-3" name="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}