{% extends 'TVShowApp/base.html' %}
{% load static %}
{% block title_block %}
{{ genre.name }} TV Shows
{% endblock %}

{% block header_block %}
<h1>All {{ genre.name }} Shows</h1>
{% endblock %}

{% block body_block %}

{% if shows %}
<div class="card-wrapper">
<div class="card-group flex-row flex-wrap">
    {% for show in shows %}
    <div class="card">
        <img src="/media/{{ show.photo }}" class="card-img-top" alt="no picture available" width="200" height="450">
        <div class="card-body">
            <h5 class="card-title">{{ show.title }}</h5>
            <p class="card-text">Show's average rating: {{ show.avg_rating }}</p>
            <a href="{% url 'TVShowApp:tv_show' show.id %}" class="btn btn-outline-secondary">Show's page</a>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
There are no shows in this genre.
{% endif%}
{% endblock %}
</div>