{% extends 'TVShowApp/base.html' %}
{% load static %}
{% block title_block %}
	{{ genre.name }} TV Shows
{% endblock %}

{% block header_block %}
<h1>{{ genre.name }}</h1>
{% endblock %}


{% block body_block %}

    {% if shows %}
        <ul>
        {% for show in shows %}
            <li><a href="{% url 'TVShowApp:tv_show' show.id %}">{{ show.title }} </a> : {{ show.avg_rating }}</li>
        {% endfor %}
        </ul>
    {% else %}
        There are no shows in this genre.
    {% endif%}

{% endblock %}