{% extends 'TVShowApp/base.html' %}

{% block title_block %}
	Homepage
{% endblock %}

{% block header_block %}
put searchbox here
{% endblock %}


{% block body_block %}
<h2>Top 5 rated TV shows</h2></br>
{% if shows %}
	<ul>
	{% for show in shows %}
		<li>{{ show.title }} : {{ show.avg_rating }}</li>
	{% endfor %}
	</ul>
{% else %}
</br>
There are no shows present
</br>
{% endif %}

<h2>Filter by Genre</h2></br>
{% if genres %}
	<ul>
	{% for genre in genres %}
		<li><a href="{% url 'TVShowApp:show_genre' genre.slug %}">{{ genre.name }}</a></li>
	{% endfor %}
	</ul>
{% else %}
There are currently no genres available.
{% endif %}

{% endblock %}
