{% extends 'TVShowApp/base.html' %}
{% load static %}
{% block title_block %}
Homepage
{% endblock %}

{% block header_block %}
{% endblock %}


{% block body_block %}
<h2>Top 5 rated TV shows</h2>
{% if shows %}
<div class="card-wrapper">
<div class="card-group">
    {% for show in shows %}
    <div class="card h-100">
        <img src="/media/{{ show.photo }}" class="card-img-top" alt="no picture available">
        <div class="card-body">
            <h5 class="card-title">{{ show.title }}</h5>
            <p class="card-text">Average rating: {{ show.avg_rating }}</p>
            <a href="{% url 'TVShowApp:tv_show' show.id %}" class="btn btn-outline-secondary">Show's page</a>
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% else %}
</br>
Information not available.
{% endif %}
{% endblock %}
