{% extends 'TVShowApp/base.html' %}

{% block title_block %}
	Log In
{% endblock %}

{% block header_block %}
Log In
{% endblock %}


{% block body_block %}
{#render form messages#}
    {% if messages %}
  	{% for message in messages %}
  		<p>{{ message }}</p>
  	{% endfor %}
  {% endif %}


<form id="login_form" method="post" action="">
		{% csrf_token %}
		Username: <input type="text" name="username" value="" size="25" />
		<br />
		Password: <input type="password" name="password" value="" size="25" />
		<br />
		<input type="submit" value="Log In" />
	</form>
{% endblock %}
