{% extends 'TVShowApp/base.html' %}
{% load static %}
{% block title_block %}
Sign Up
{% endblock %}

{% block header_block %}
<h1>Sign Up</h1>
{% endblock %}


{% block body_block %}
{% if registered %}
<h4>Thank you for signing up !</h4>
{% else %}
<form id="register_form" method="post" action="{% url 'TVShowApp:sign_up' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="register_wrapper" class="container w-25">
        <div class="row align-items-start">
            <div class="input-group mb-3 col">
                <span class="input-group-text">Username</span>
                <input type="text" name="username" class="form-control">
            </div>
        </div>
        <div class="row align-items-start">
            <div class="input-group mb-3 col">
                <span class="input-group-text">Email</span>
                <input type="text" name="email" class="form-control">
            </div>
        </div>
        <div class="row align-items-start">
            <div class="input-group mb-3 col">
                <span class="input-group-text" id="login_password">Password</span>
                <input type="password" name="password" class="form-control">
            </div>
            <input type="submit" class="btn btn-secondary w-25" value="Sign Up"/>
        </div>
    </div>
</form>
{% endif %}
{% endblock %}