{% extends 'TVShowApp/base.html' %}
{% load static %}

{% block title_block %}
{{ show.title }}
{% endblock %}

{% block header_block %}
<h1><strong>{{ show.title }}</strong></h1>
{% endblock %}


{% block body_block %}
<div id="show_data">
    {% if show %}
    <div id="show_img">
        <img src="/media/{{ show.photo }}" alt="No picture available" width="280" height="420">
    </div>
    <div id="show_info">
        <h2>Info:</h2>
        <ul>
            <li>Year Released: {{show.year}}</li>
            <li>Average Rating: {{show.avg_rating}}</li>
            <li id="like_count">Likes: {{ show.likes }}</li>
            <li>
                {% for genre in show_genres %}
                <a href="{% url 'TVShowApp:show_genre' genre.slug %}">{{ genre.name }}</a>
                {% endfor %}
            </li>
        </ul>
        {% else %}
        No show info available.
        {% endif %}
        {% if user.is_authenticated %}
        <div id="button_wrapper">
            <div id="like_button">
                <button id="like_btn"
                        data-showid="{{ show.id }}"
                        class="btn btn-secondary btn-sm"
                        type="button">
                    <span data-feather="thumbs-up"></span>
                    Like Show
                </button>
            </div>
            <div id="new_review_button">
                <form action="{% url 'TVShowApp:new_rating' show.id %}">
                    <input class="btn btn-secondary" type="submit" value="Review This Show"/>
                </form>
            </div>
        </div>
        {% endif %}
    </div>
    <div id="show_reviews">
        <h3>Reviews:</h3>
        {% if reviews %}
        <div class="card-group">
            {% for review in reviews %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'TVShowApp:user_profile' review.user.get_username %}">
                        {{ review.user }}</a></h5>
                    <h6 class="card-subtitle mb-2">{{ review.rating }}/10</h6>
                    <p class="card-text">{{ review.comment }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        There are no reviews for this show yet.
        {% endif %}
    </div>
</div>
{% endblock %}