{% extends 'TVShowApp/base.html' %}
{% load static %}

{% block title_block %}
{{ show.title }}
{% endblock %}

{% block header_block %}
{% endblock %}


{% block body_block %}
<div class="show_info">
    {% if show %}
    <img src="/media/{{ show.photo }}" alt="No picture available" width="300" height="420">
    <h2>Show info:</h2>
    <ul>
        <li>Title: <strong>{{ show.title }}</strong></li>
        <li>Year Released: {{show.year}}</li>
        <li>Average Rating: {{show.avg_rating}}</li>
        <li>
            {% for genre in show_genres %}
            <a href="{% url 'TVShowApp:show_genre' genre.slug %}">{{ genre.name }}</a>
            {% endfor %}
        </li>
    </ul>
    {% else %}
    </br>
    No show info available.
    </br>
    {% endif %}
</div>
<div>
    <h3>Show Reviews:</h3>
    {% if reviews %}
    <ul>
        {% for review in reviews %}
        <li><a href="{% url 'TVShowApp:user_profile' review.user.get_username %}">{{ review.user }}</a> : {{ review.comment }}</li>
        {% endfor %}
    </ul>
    {% else %}
        There are no reviews for this show yet.
    {% endif %}
</div>
<div>
    {% if user.is_authenticated %}
    <form action="{% url 'TVShowApp:new_rating' show.id %}">
        <input type="submit" value="Review This Show"/>
    </form>
    {% endif %}
</div>
{% endblock %}