{% extends 'TVShowApp/base.html' %}

{% block title_block %}
	Profile Page
{% endblock %}

{% block header_block %}
{% endblock %}


{% block body_block %}
<h1>{{ usr_prof.get_username }}'s Profile </h1></br>

<b>{{ usr_prof.get_username }}'s Ratings </b></br>
{% if reviews %}
<ul>

	{% for review in reviews %}
		<li><a href= "{% url 'TVShowApp:tv_show' review.show.id %}"> {{ review.show }}</a> : {{ review.comment }} </br> Rating: {{ review.rating }}</li>
	{% endfor %}
</ul>
{% else %}
	This user has not reviewed any TV Shows yet.</br>
{% endif %}


{% endblock %}