{% extends 'TVShowApp/base.html' %}
{% load static %}
{% block title_block %}
Profile Page
{% endblock %}

{% block header_block %}
<h2>{{ usr_prof.get_username }}'s Profile </h2>
{% endblock %}


{% block body_block %}
<div id="user_profile">
    <strong><h3>Reviews:</h3></strong>
    {% if reviews %}
    <div class="card-group">
        {% for review in reviews %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'TVShowApp:tv_show' review.show.id %}">
                    {{ review.show }}</a></h5>
                <h6 class="card-subtitle mb-2">{{ review.rating }}/10</h6>
                <p class="card-text">{{ review.comment }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>This user has not reviewed any TV Shows yet.</p>
    {% endif %}
</div>
{% endblock %}